* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #df355f;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 60px 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}


figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

form button {
    background-color:#df355f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
